<div class="container text-center">
<h1><%="#{@invoice.customer.first_name}"%>'s invoice:</h1>
  <div class="center-stuff2">
  <div class="center-col4">
  <ul>
    <h3>Customer Data</h3>
    <li>Customer name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %><br>Customer ID: <%= @invoice.customer_id %><br>Invoice made: <%= date_format(@invoice.created_at) %><br>
    <li>Invoice ID: <%= @invoice.id %></li>
    <li>Invoice status: <%= @invoice.status %></li><br><br>
    <h5> Amount before promotions: $<%= penny_to_dollar(@invoice.total_revenue)%></h5>
    <h7> Discount applied: <%= %><br></h7>
    <h7> Amount discounted: $<%= penny_to_dollar(@invoice.dis_counter) %> <br>
    Total invoice amount: $<%= invoice_mather(@invoice)%> </h7>

</ul>
  </div>


      <div class="center-col4">
<h3>Items in this invoice </h3>
<% @invoice.invoice_items.each do |invoice_item| %>
  Item name: <%= invoice_item.item.name %><br>
  Item price: $<%= penny_to_dollar(invoice_item.item.unit_price) %><br>
  Quantity purchased: <%= invoice_item.quantity %>
  <a id="<%=invoice_item.item_id %>">Item status: <%= invoice_item.status %>
      <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}?invoice_item=#{invoice_item.id}", method: :patch, local: true do |form|%>
      <%=form.select :status, ['pending', 'shipped', 'packaged'], selected: invoice_item.status %>
      <%= form.submit "Update Item Status" %>
    <%end%>
    <% if invoice_item.item.promotional_discount(invoice_item.quantity).nil?%>
      <h6>No promotions applied</h6>
    <%else%>
      Promotion applied:<%= button_to "#{invoice_item.item.promotional_discount(invoice_item.quantity).name}", "/merchants/#{@merchant.id}/discounts/#{invoice_item.item.promotional_discount(invoice_item.quantity).id}", method: :get%><br>
  <%end%>

<%end%></a><br>

    </div>
  </div>
</div>
