<div class="container text-center">
<h3><%=@discount.name%> promotion page.</h3>
 <p>Threshold quantity to qualify: <%=@discount.threshold%><br>
   Percent discount applied: <%=@discount.percent%>%</p>
   <%= button_to "Update Promotion", "/merchants/#{@discount.merchant.id}/discounts/#{@discount.id}/edit", method: :get %><br><br>
   <%= button_to "DELETE Promotion", "/merchants/#{@discount.merchant.id}/discounts/#{@discount.id}", method: :delete %></a>
  </div>
