<div class="container text-center">
  <br>
    <div class="center-stuff">
      <div class="center-col5">
      <h1> <%=@item.name%> page</h1><br>
      <%= link_to "Update item", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %>

      <p>Item name: <%= @item.name %></p><br/>
      <p>Item description: <%= @item.description %></p><br/>
      <p>Unit price: $<%= @item.unit_price %></p><br/>
      <p>Item status: <%= @item.status %></p><br/>
      </div>

    </div>
</div>
